
<div class="panel">
	<div class="panel-header">
		<h3>{{__ 'websites.websites'}}</h3>
	</div>
	<div class="panel-body">
		<ul class="websites">
			{{#each websites}}
			<li>
				<span class="details">
					<h4>{{name}}</h4>
				</span>
				<span class="actions">
					<a href="{{editUrl}}" class="btn">{{__ 'websites.edit'}}</a>
				</span>
			</li>
			{{/each}}
		</ul>
	</div>
</div>
